@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


* {
    font-family: 'Nunito';
    box-sizing: border-box;
}

nav {
    background-color: #000051;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.nav-butoni:hover {
    color: #807f7f;
}

.butoni {
    display: inline;
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 20px;
    font-weight: 700;
}

.nav-butoni {
    margin-right: 20px;
}

#robopro {
    display: inline;
    vertical-align: middle;
    font-family: 'Russo One';
}

#nav-home {
    margin: 5px 5px 5px 15px;
    border-radius: 13px;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 112px;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000051;
    min-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #00002d;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.card-title {
    text-align: center;
    color: #000051;
    font-weight: bold;
    margin-top: 15px;
}

.card-text {
    text-align: justify;
    color: #000051;
    font-weight: bold;
    margin-top: 30px;
}

/* Float four columns side by side */
.column {
    width: 25%;
    float: left ;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 0px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 20px;
    text-align: center;
    background-color: white;
    z-index: -1;
    height: 95%;
    margin-top: 15px;
}

.column1 {
    width: 40%;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 20px;
    text-align: center;
    background-color: white;
    z-index: -1;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 8px;
    height: 95%;
}

#deni{
    margin-left: 2%;
}

.karti {
    width: 100%;
    display: inline-flex;
    padding-left: 20%;
}

hr {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 35px;
    height: 0px;
    border: none;
    border-top: 2px solid black;
}

footer {
    text-align: center;
}

#phone {
    visibility: hidden;
    display: none;
}

#pc {
    visibility: visible;
}

@media screen and (max-width: 1000px) {
    #pc {
        visibility: hidden;
        display: none;

    }

    #phone {
        visibility: visible;
        display: flex;
        text-align: center;
        width: 100%;
    }

    #zaglavie {
        margin-top: 20%;
    }

    .carousel {
        width: 100%;
    }

    .carousel-inner #sliderphoto {
        width: 100%;
        height: 100%;
    }

    .otborinfo {
        display: block;
    }

    #snimkaotbor {
        width: 100%;
        margin: 0%;
        height: 100%;
    }

    #myLinks {
        display: none;
        width: 100%;
    }

    .nav-buton {
        width: 100%;
        padding-top: 2%;
        padding-bottom: 3%;
        display: block;
        z-index: -1;
    }

    .dropdown-content1 {
        z-index: 0;
    }

    .dropdown:hover .dropdown-content {
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: block;
        background-color: #000051;
    }

    .dropdown1:hover .dropdown-content1 {
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: block;
        background-color: #000051;
    }

    .dropdown-content a {
        background-color: #000051;
        width: 100%;
        z-index: 1;
    }

    .butoni {
        color: white;
        background-color: #000051;
        text-align: center;
        font-size: 30px;
        position: absolute;
        margin-top: -24.9%;
    }
    .column{
        width: 100%;
        margin-right: 0%;
        padding-left: 7%;
    }
    .karti {
        width: 100%;
        display:inline;
        margin-left: 0%;
        transform: translate(0%,0%);
        margin:auto;
        margin-left: 4%;
    }
    .column1{
        width: auto;
        padding-left: 10%;
        margin-bottom: 5%;
    }

    body{
        width: 96%;
    }
}