@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    font-family: 'Nunito';
}

nav {
    background-color: #000051;
    color: white;
}

a {
    text-decoration: none; 
    color: white;
}

.nav-butoni:hover {
    color: #807f7f;
}

.butoni {
    display: inline;
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 20px;
    font-weight: 700;
}

.nav-butoni {
    margin-right: 20px;
}

#robopro {
    display: inline;
    vertical-align: middle;
    font-family: 'Russo One';
}

#nav-home {
    margin: 5px 5px 5px 15px;
    border-radius: 13px;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 112px;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000051;
    min-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #00002d;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#carouselExampleAutoplaying{
    width: 100%;
    margin-bottom: 1%;
}

.carousel-inner img {
    margin: auto;
  }

.carousel{
    background-color: #000051;
    padding: 15px 0px 15px 0px;
    z-index: -1;
    margin-top: 3%;
    
}
#sliderphoto{
    height: 500px;
}

h1{
    padding-top: 5%;
}

#zag3, h4, h5{
    margin-left: 3%;
    margin-right: 3%;
}

.card-title {
    text-align: center;
    color: #000051;
    font-weight: bold;
    margin-top: 15px;
}

hr {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 35px;
    height: 0px;
    border: none;
    border-top: 2px solid black;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 20%;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 0px;
}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 20px;
    text-align: center;
    background-color: white;
    z-index: -1;
    height: 400px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

  footer{
    text-align: center;
  } 

  #phone{
    visibility: hidden;
    display: none;
}

#pc{
    visibility: visible;
}

#zaglavie-karti{
    margin-bottom: 2%;
}

  @media screen and (max-width: 1000px) {
    #pc{
        visibility: hidden;
        display: none;
    }

    #phone{
        visibility: visible;
        display: flex;
        text-align: center;
        width: 100%;
    }

    #zaglavie{
        padding-top: 15%;
    }
    .carousel{
        width: 100%;
    }
    .carousel-inner #sliderphoto{
        width: 100%;
        height: 100%;
    }
    .otborinfo{
        display: block;
    }
    #snimkaotbor{
        width: 100%;
        margin: 0%;
        height: 100%;
    }
    #myLinks{
        display: none;
        width: 100%;
    }
    .center{
        width: 90%;
    }
    .column{
        width: 100%;
        margin-right: 0%;
        padding-left: 7%;
        margin-bottom: 5%;
    }
    .nav-buton{
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: block;
        z-index: -1;
    }

    .dropdown-content1{
        z-index:0;
    }
    .dropdown:hover .dropdown-content{
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: block;
        background-color: #000051;
    }
    .dropdown1:hover .dropdown-content1{
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        display: block;
        background-color: #000051;
    }
    .dropdown-content a{
        background-color: #000051;
        width: 100%;
        z-index: 1;
    }
    
    .butoni{
        color: white;
        background-color: #000051;
        text-align: center;
        font-size: 30px;
        position: absolute;
        margin-top: -24.9%;
    }
  }
